meta/
tags
target/
Cargo.lock
.cargo/
__pycache__/
*.pyc
*.so
python/exhash.data/scripts/
*.pyd
.DS_Store
.env
.venv
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.coverage
coverage.xml
htmlcov/
build/
dist/
pip-wheel-metadata/
.cache/
ipykernel
jupyter_kernel_test
xeus
xeus-python
